@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

body{
    background-color: rgb(213, 221, 238);
    font-family: 'Roboto', sans-serif;
}  
/*style NAV*/
nav{
    background-color: rgb(14, 50, 88);
    height: 160px;
    color: white;
}
header{
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1020;
}
.nav-container{
    display: flex;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav-label, .nav-input{
    display: none;
}
.nav-menu{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 15px;
}
.nav-item{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-item:hover{
    background-color: #94c7de;
    transition: .5s;
    color: rgb(11, 11, 11);
    border-radius: 5px;    
}
/*-------------------------------------------------*/
/*carousel*/
.carousel{
    position: relative;
    width: 100%;    
}
.slider-text{
    color: rgb(5, 27, 27);
    font-weight: bold;
    font-size: 40px;
    background-size: auto;
    text-shadow: 5px 5px 5px #6b7d86;
}
/*-----------fin carousel------------------------------*/
/*----------section general----------------*/
.cards{
    padding: 20px 0;
}
.cards{
    animation-duration: 3s;
    animation-name: slider;
}
@keyframes slider{
    from{
        margin-left: -100%;
    }
    to{
    margin-left: 0;
    }
}
/*--------------fin section general---------*/

/*-------Section noticias de interes-----------*/
.sectCards{
    background-color: #94b2c1cc;
    padding-bottom: 10px;
}
.segundaCards {
    background-color: #f7f7f6dc;
    border: #092b3a 2px solid;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(9, 9, 9, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.segundaCards:hover{
    box-shadow: 5px 5px 20px rgba(9, 9, 9, 0.4) ;
    transform: translateY(-3%);
}
.segundaCards p{
    line-height: 1.4;
}
.segundaCards a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 10px 0;
    color: #0f3c43;
    border: 1px solid #0f3c43;
    border-radius: 4px;
    transition: all 400ms ease;
}
.segundaCards a:hover{
    background-color: #5e888f;
    color: white;
}
/*-------------fin noticias--------------------*/
/*-------------pagina Articulo------------------*/
.containerArticle{
    padding: 2% 10%;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*----------FOOter-----------------*/
.containerFooter{
    background-color: #092b3a;
    color: rgb(255, 255, 255);
    border-top: #ebf7fc solid 2px;
}
.logoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.listFooter{
    display: inline;
    text-align:center;
    list-style: none;    
}
.redesFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 30px;
}
.derechosFooter{
    background-color: #114d67;
    color: white;
    display: flex;
    justify-content: center;
}
/*------------Fin Footer-------------->
/*media queries*/
/*nav*/
@media(max-width:1200px){
    .nav-item{
        font-size: 15px;
    }
}
@media(max-width:967px){
    .logo{
        width: 80px;
        height: 80px;
    }
    .nav-item{
        font-size: 15px;
    }
}
@media(max-width:768px){
    .nav-label{
        display: block;
        cursor: pointer;
        font-size: 40px;
        margin: 10px;
    }
.nav-menu{
    position: fixed;
    top: 160px;
    bottom: 0;
    background-color: rgb(14, 50, 88);
    width: 100%;
    left: -100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid white;
}
.fa-x{
    display: none;
    }
.nav-item{
    font-size: 25px;
    }
    .nav-input:checked ~ .nav-menu{
    left: 0;
    }
.nav-input:checked + .nav-label .fa-bars{
    display: none;
    }
.nav-input:checked + .nav-label .fa-x{
    display: block;
    }
}
/*---------------------------------------------------*/

