/*carousel*/
.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: auto;
}

.slider ul {
  padding: 0;
  display: flex;
  width: 400%;

  animation: cambio 20s infinite alternate;
  animation-timing-function: linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider li img {
  width: 100%;
  height: auto;
}

@supports (object-fit: cover) {
  .slider img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/*-----------fin carousel------------------------------*/
/*----------section general----------------*/
.cards {
  padding: 20px 0;
}
.cards {
  animation-duration: 3s;
  animation-name: slider;
}
@keyframes slider {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
/*--------------fin section general---------*/

/*-------------pagina Articulo------------------*/
.containerArticle {
  padding: 2% 10%;
  font-size: 20px;
}
/*----------------------Pagina Nosotros-----------------------*/
.nosotros {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;
}

.text-nosotros {
  margin-top: 40px;
  padding: 30px;
}
.imgnosotros {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/*-------------fin pagina nosotros------------------------*/
/*---------Contacto-------------------------------*/
.contact {
  display: grid;
  grid-template-columns: 50% 50%;
}
.maps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.maps li {
  list-style: none;
  font-size: 20px;
  margin: 15px;
}
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.formulario input,
textarea {
  width: 40vw;
  margin-top: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.formulario input {
  height: 40px;
}
.formulario input:focus,
textarea:focus {
  border: 3px solid #1777e5;
  outline: none;
  box-shadow: 3px 0 30px rgba(113, 102, 102, 0.2);
}

/*------------Fin Pag de contacto---------*/
/*----------FOOter-----------------*/
.containerFooter {
  background-color: #092b3a;
  color: rgb(255, 255, 255);
  border-top: #ebf7fc solid 2px;
}
.logoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listFooter {
  display: inline;
  text-align: center;
  list-style: none;
}
.redesFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-top: 30px;
}
.derechosFooter {
  background-color: #114d67;
  color: white;
  display: flex;
  padding-top: 10px;
}
/* Horarios de atención */
.horarios-de-atencion ul {
  margin: 1em 0;
  padding: 0;
}

.horarios-de-atencion li {
  margin: 0.5em auto;
  padding: 0;
  list-style-type: none;
}
/* fin Horarios de atención */

/*------------Fin Footer-------------->














/* ================================================ */

/* Fin ============================================ */

/* Import Google font ============================= */

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");

/* Fin Import Google font ========================= */

/* Inicialización entorno ========================= */

html {
  font-size: 14px;
}

.ocultar-visualmente {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.cursor-none {
  cursor: none;
}
.cursor-default {
  cursor: default;
}

/* Fin Inicialización entorno ===================== */

/* Elementos de interfase de usuario ============== */

/* Bordes */
.borde-1px-todos {
  border: #092b3a 1px solid;
}

/* Bordes redondeados */
.borde-redondeado-todos,
.borde-redondeado-izq,
.borde-redondeado-arr-izq,
.borde-redondeado-arr {
  border-top-left-radius: 5px;
}
.borde-redondeado-todos,
.borde-redondeado-der,
.borde-redondeado-arr-der,
.borde-redondeado-arr {
  border-top-right-radius: 5px;
}
.borde-redondeado-todos,
.borde-redondeado-izq,
.borde-redondeado-aba-izq,
.borde-redondeado-aba {
  border-bottom-left-radius: 5px;
}
.borde-redondeado-todos,
.borde-redondeado-der,
.borde-redondeado-aba-der,
.borde-redondeado-aba {
  border-bottom-right-radius: 5px;
}
/* Fin Bordes redondeados */

/* Distribución de elementos */
.distribuir-contenido-parejo {
  justify-content: space-evenly !important;
}
/* Fin Distribución de elementos */

/* Encabezado */
header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1020;
}
/* Fin Encabezado */

/* Filas y columnas */

/* Fin Filas y columnas */

/* Fin Elementos de interfase de usuario ========== */

/* Tipografía ===================================== */

/* Font Family */
body {
  font-family: "Roboto", sans-serif;
}

.font-articulo {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Fin Font Family */

.font-bold {
  font-weight: bold !important;
}

.font-600 {
  font-weight: 600 !important;
}

.texto-chico {
  font-size: 2rem !important;
  line-height: 2.4rem !important;
}

/* Alineaciones */
.texto-izquierda {
  text-align: left !important;
}

.texto-derecha {
  text-align: right !important;
}
.texto-centrado {
  text-align: center !important;
}

.texto-justificado {
  text-align: justify !important;
}

/* Fin Alineaciones */

/* Fin Tipografía ================================= */

/* Colores BG ===================================== */

body {
  background-color: rgb(213, 221, 238);
}

.bg-blanco {
  background-color: rgb(255, 255, 255);
}

.bg-alternativo-1 {
  background-color: #94b2c1cc;
}

/* Fin Colores BG ================================= */

/* NAV ============================================ */
nav {
  background-color: rgb(14, 50, 88);
  height: 140px;
  color: white;
}

nav .nav-container {
  display: flex;
  height: 100%;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

nav .nav-label,
nav .nav-input {
  display: none;
}

nav .nav-menu {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 15px;
}

nav .nav-item {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0 0.5em;
  text-align: center;
}
nav .nav-item:hover,
nav .nav-item.link-activo {
  background-color: #94c7de;
  transition: 0.5s;
  color: rgb(11, 11, 11);
  border-radius: 5px;
  text-decoration: none;
}
nav .nav-item.link-activo {
  color: #092b3a;
  padding: 0 1em;
  font-weight: bold;
}
/* fin NAV ======================================== */

/* Secciones ====================================== */

section.seccion-normal {
  padding: 2em 0;
  overflow: hidden;
}
section.seccion-grande {
  padding: 4em 0;
}

section.media-seccion {
  padding: 1em 0;
}

.seccion-titulo {
  margin-bottom: 2.5em;
}

/* Fin Secciones ================================= */

/* Encabezados ==================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-family: "Poppins", sans-serif !important;
}
h1 {
  font-size: 5rem;
  line-height: 5rem;
}
h2 {
  font-size: 3.9rem;
  line-height: 4.2rem;
}
h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}
h4 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
/* Fin Encabezados ================================ */

/* Contenido secciones ============================ */

/* index.html -> Noticias de interés */

.noticias-de-interes .noticia {
  background-color: #f7f7f6dc;
  box-shadow: 0px 4px 10px rgba(9, 9, 9, 0.2);
  cursor: default;
  transition: all 400ms ease;
  padding-bottom: 4em;
  position: relative;
  height: 100%;
}
.noticias-de-interes .noticia:hover {
  box-shadow: 5px 5px 20px rgba(9, 9, 9, 0.4);
  transform: translateY(-2%);
}

.noticias-de-interes .noticia .link-container {
  position: absolute;
  bottom: 2em;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px; /* Need a specific value to work */
}
.noticias-de-interes .noticia .link-container a {
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
  color: #0f3c43;
  border: 1px solid #0f3c43;
  border-radius: 4px;
  transition: all 400ms ease;
}
.noticias-de-interes .noticia .link-container a:hover {
  background-color: #5e888f;
  color: white;
  cursor: pointer;
}

/* Fin index.html -> Noticias de interés */

/* Fin Contenido secciones ======================== */


/* RESPONSIVE ======================== */

/* NAV */
@media (max-width: 1200px) {
  nav .nav-item {
    font-size: 15px;
  }
}
@media (max-width: 967px) {
  .logo {
    width: 80px;
    height: 80px;
  }
  nav .nav-item {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  nav .nav-label {
    display: block;
    cursor: pointer;
    font-size: 40px;
    margin: 10px;
  }
  nav .nav-menu {
    position: fixed;
    top: 140px;
    bottom: 0;
    background-color: rgb(14, 50, 88);
    width: 100%;
    left: -100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid white;
  }
  nav .fa-x {
    display: none;
  }
  nav .nav-item {
    font-size: 25px;
  }
  nav .nav-input:checked ~ .nav-menu {
    left: 0;
  }
  nav .nav-input:checked + .nav-label .fa-bars {
    display: none;
  }
  nav .nav-input:checked + .nav-label .fa-x {
    display: block;
  }
}

/* Fin NAV */

/* página Nosotros */
/* --------------- */
@media (max-width: 768px) {
  .nosotros {
    display: grid;
    grid-template-columns: 100%;
    width: 90%;
    padding: 10px;
  }
  .imgnosotros {
    width: auto;
    padding: 10px 20px;
  }
}

/* página Contacto */
/* --------------- */
@media (max-width: 768px) {
  .contact {
    display: grid;
    grid-template-columns: 100%;
  }
}

/* Fin RESPONSIVE ==================== */